<div class="page-container">
  <p>Please enter a new API Password:</p>
  <label>API Password:</label>
  {{input type="text" value=apipass name="apipass" placeholder="Enter new API Password here" size=25}}
  <button class="btn-primary" {{action 'changeApipass'}}>Update</button>
</div>