<div class="page-container">
  <p>Please enter a new API Login:</p>
  <label>API Login:</label>
  {{input type="text" value=apilogin name="apilogin" placeholder="Enter new API Login here" size=25}}
  <button class="btn-primary" {{action 'changeApiLog'}}>Update</button>
</div>