<div class="page-container">
  <p>Please enter a new company name:</p>
  <label>Company name:</label>
  {{input type="text" value=cname name="cname" placeholder="Enter new Company name here" size=25}}
  <button class="btn-primary" {{action 'changeCompname'}}>Update</button>
</div>