<div class="page-container">
  <p>Please enter a new email:</p>
  <label>Email:</label>
  {{input type="text" value=email name="email" placeholder="Enter new email here" size=25}}
  <button class="btn-primary" {{action 'changeEmail'}}>Update</button>
</div>