<div class="page-container">
  <p>Please enter a new first name:</p>
  <label>First name:</label>
  {{input type="text" value=fname name="fname" placeholder="Enter new First name here" size=25}}
  <button class="btn-primary" {{action 'changeFirstname'}}>Update</button>
</div>