<div class="page-container">
  <p>Please enter a new last name:</p>
  <label>Last name:</label>
  {{input type="text" value=lname name="lname" placeholder="Enter new Last name here" size=25}}
  <button class="btn-primary" {{action 'changeLastname'}}>Update</button>
</div>