<h2>This is help section about the Sigfox backend</h2>
<h3>Important thing to know</h3>
<p>BE CAREFUL, there is a difference between Sigfox Backend and Sigfox Api.</p>
<p>You'll have to register or be registered by someone of your organisation in order to be able to connect to Sigfox backend.</p>
<p>Connect, then go to 'Group' and find yours, the one who actually have the device you want to link here.</p>
<p>On the left of the screen, on the purple panel, you will see 'API ACCESS'.
  Click on it and you will see your API Credentials (Login/Password - The ones you have to enter in this website) or you'll have the possibility to create a new API Access.</p>
<p>The API is just a tool that Sigfox gives us and makes us able to retrieve your devices' data.</p>
<h3>Frequently Asked Questions: </h3>
<ul>
  <li><strong>Why do you need my Sigfox credentials (Login/Password)?</strong></li>
  <p>We need your Sigfox credentials in order to retrieve your devices' data. They aren't actually your Sigfox Backend Credentials, just API access.</p>
  <p>They use the Sigfox network to communicate and store data, we need to go get the data and be authenticated in order to display your devices' messages here.</p>
  <p></p>
  <li><strong>Where can I find my Sigfox credentials?</strong></li>
  <p>Your Sigfox credentials are them you use to connect to the Sigfox Backend. (See Important thing to know)</p>
</ul>
