<h2>Follow this simple steps and you will be able to see your devices' data.</h2>

<ol>
  <li>{{#link-to 'signup'}}Create an account{{/link-to}}.</li>
  <p> -> We'll ask you for: First name, Last name, Company Name, Email, Password, Sigfox Credentials (Api Login and Password)</p>
  <li>{{#link-to 'login'}}Login{{/link-to}} to your account.</li>
  <li>Go to 'My Devices'.</li>
</ol>