<div class="page-container">
  {{#if session.isAuthenticated}}
<h2>On this page can you see your devices' last messages</h2>
  {{else}}
    <p>Please {{#link-to 'login'}}Login{{/link-to}}.</p>
  {{/if}}
</div>