<div class="page-container">
<h3>{{#link-to 'help'}}Need any help?{{/link-to}}</h3>
  <p>{{#link-to 'help.this'}}Help for this website{{/link-to}}</p>
  <p>{{#link-to 'help.sigfox'}}Help for Sigfox backend{{/link-to}}</p>
  {{outlet}}
</div>