<div class="page-container">
<h3>Need some help?<small>(Yes, you are in the right place)</small></h3>
  <p>{{#link-to 'help.this'}}-> Help for this website{{/link-to}}</p>
  <p>{{#link-to 'help.sigfox'}}-> Help for Sigfox backend{{/link-to}}</p>
  {{outlet}}
</div>